/* FONTS */
.container-fluid {
  padding: 0px;
}

hr {
  background-color: #fff;
  color: #fff;
  margin-top: 35px;
  width: 50%;
}

.header__top {
  padding: 14px 405px;
  background-color: black;
  font-size: 14px;
  color: gray;
}
.header__top .phone__img {
  padding-right: 15px;
}
.header__top a {
  color: gray;
}
.header__top a:hover {
  text-decoration: none;
  color: #fff;
}
.header__bottom {
  padding: 0px 405px;
  background-color: #0F0F0F;
}
.header__logo {
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Black Ops One", cursive;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: default;
}
.header__nav {
  font-family: "PT Sans", sans-serif;
}
.header__nav a {
  color: gray;
}
.header__nav a:hover {
  text-decoration: none;
}
.header__nav .nav__item {
  padding: 31px 30px;
  text-transform: uppercase;
  transition: background-color 0.2s linear;
}
.header__nav .nav__item:hover {
  background-color: #1F1F1F;
  color: #fff;
}
.header__nav .search__img {
  padding-left: 40px;
}
.header__nav .cart__img {
  padding-left: 30px;
}

.main {
  background-color: black;
}
.main__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  padding: 98px 67px;
}
.main__text .text__logo {
  font-size: 52px;
  font-family: "Black Ops One", cursive;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}
.main__text .text__city {
  color: #fff;
  font-size: 22px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  padding-top: 7px;
}
.main__collection .season__2021 {
  color: #fff;
  padding-top: 90px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 36px;
}
.main__collection .collection__card {
  padding-right: 50px;
  padding-left: 50px;
}
.main__collection .collection__watch {
  padding: 20px 25px;
}
.main__collection .new__collection {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding-top: 90px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 36px;
}
.main__collection .new__collection hr {
  margin-top: 25px;
  margin-bottom: 25px;
}
.main__collection .new__collection .new__catalog {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 3px;
  border: 1px solid #fff;
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px auto 0;
  transition: background-color 0.2s linear;
  cursor: pointer;
}
.main__collection .new__collection .new__catalog:hover {
  color: #000;
  background-color: #fff;
}
.main__collection .watch__title {
  padding-top: 20px;
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 18px;
}
.main__collection .watch__price {
  padding-top: 10px;
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 16px;
}
.main__collection .season__2018 {
  color: #fff;
  padding-top: 90px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 36px;
}
.main__collection .lorem__ipsum {
  font-size: 14px;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  padding-top: 30px;
  padding-bottom: 60px;
}
.main__collection .button__2018 {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 15px 30px;
  cursor: pointer;
  color: #fff;
  letter-spacing: 2.5px;
  transition: background-color 0.2s linear;
}
.main__collection .button__2018:hover {
  color: #000;
  background-color: #fff;
}
.main .arrivals .new__arrivals {
  color: #fff;
  padding-top: 90px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 36px;
}
.main .arrivals .watch__arrivals {
  padding-top: 65px;
  padding-bottom: 120px;
}
.main .arrivals .watch__title {
  padding-top: 20px;
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 18px;
}
.main .arrivals .watch__price {
  padding-top: 10px;
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 16px;
}
.main .arrivals .watch__card {
  padding-bottom: 20px;
  padding-right: 5px;
  padding-left: 5px;
}

.footer {
  background-color: #0F0F0F;
}
.footer .our__brands {
  color: #fff;
  padding-top: 90px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  padding-top: 50px;
  font-weight: 600;
}
.footer .img__brands {
  padding-bottom: 60px;
}
.footer__components {
  padding-top: 80px;
  padding-bottom: 100px;
  color: #fff;
  background: url("../img/footer__img.png");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center;
}
.footer__components .footer__component {
  padding-right: 20px;
  padding-left: 20px;
}
.footer__components .component__header {
  font-size: 32px;
  font-family: "Playfair Display", serif;
  color: #fff;
  text-transform: uppercase;
}
.footer__components .component__text {
  padding-top: 40px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  color: #fff;
}
.footer__components .category__footer {
  padding: 10px 20px;
  margin-bottom: 30px;
  background-color: #0F0F0F;
}
.footer .myForm {
  padding-top: 30px;
}
.footer #inputForm {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0px;
  border: 0px;
  padding: 10px 10px;
}
.footer #inputForm:focus {
  outline: none;
  box-shadow: none;
  background-color: #fff;
}
.footer #inputForm::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
  opacity: 1;
  /* Firefox */
}
.footer #inputForm::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: gray;
}
.footer #inputForm::-ms-input-placeholder {
  /* Microsoft Edge */
  color: gray;
}
.footer .subscribe {
  text-transform: uppercase;
  background-color: #0F0F0F;
  padding: 10px 20px;
  font-family: "PT Sans", sans-serif;
  transition: background-color 0.2s linear;
  cursor: pointer;
}
.footer .template_by {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 12px;
  font-family: "Playfair Display", serif;
}

@media (max-width: 1650px) {
  .header__top {
    padding: 14px 150px;
  }
  .header__bottom {
    padding: 14px 150px;
  }

  .main__collection .season__2021 {
    color: #fff;
    padding-top: 50px;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    font-size: 36px;
  }
  .main__collection .season__2018 {
    padding-top: 50px;
  }
  .main__collection .lorem__ipsum {
    padding-top: 15px;
    padding-bottom: 25px;
  }
  .main .collection__card {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main .collection__watch {
    padding: 10px 15px;
  }
}
@media (max-width: 1199px) {
  .main .collection__card {
    padding-bottom: 50px;
  }
  .main__collection .button__2018 {
    margin-bottom: 40px;
  }
  .main__collection .lorem__ipsum {
    font-size: 18px;
  }
  .main__collection .season__2018 {
    font-size: 42px;
  }

  .arrivals .watch__arrivals {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 100px;
  }
}
@media (max-width: 1090px) {
  .header__top {
    padding: 14px 40px;
  }
  .header__bottom {
    padding: 14px 40px;
  }

  .main__text {
    padding: 77px 50px;
  }
}
@media (max-width: 991px) {
  .footer__components {
    padding-top: 0px;
  }
  .footer__component {
    padding-top: 50px;
  }
}
@media (max-width: 927px) {
  .navigation {
    display: none;
  }

  .main__text {
    padding: 50px 30px;
  }
}
@media (max-width: 767px) {
  .header__top {
    padding: 10px 25px;
  }
  .header__bottom {
    padding: 10px 25px;
  }

  .phone__number {
    display: none;
  }

  .header a {
    font-size: 16px;
  }

  .main__text {
    padding: 40px 20px;
  }
  .main__text .text__logo {
    font-size: 42px;
  }
  .main__text .text__city {
    font-size: 18px;
  }
  .main .arrivals .watch__arrivals {
    padding: 30px 5px 70px;
  }
  .main .arrivals .watch__title {
    padding-top: 5px;
    font-size: 16px;
  }
}
@media (max-width: 711px) {
  .main__collection .new__collection {
    font-size: 24px;
  }
}
@media (max-width: 473px) {
  .main__collection .new__collection {
    font-size: 18px;
  }
  .main__collection .new__collection .new__catalog {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  .main__collection .lorem__ipsum {
    font-size: 14px;
  }
  .main__collection .season__2018 {
    font-size: 36px;
  }
}
@media (max-width: 569px) {
  hr {
    margin-top: 25px;
  }

  .main__text {
    padding: 20px 10px;
  }
  .main__text .text__logo {
    font-size: 32px;
  }
  .main__text .text__city {
    font-size: 16px;
  }
  .main .watch__title {
    font-size: 16px;
  }
  .main .watch__price {
    font-size: 14px;
  }
  .main .season__2021 {
    padding-top: 30px;
  }
}
@media (max-width: 493px) {
  .main .collection__watch {
    padding: 5px 10px;
  }
  .main .collection__card {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 20px;
  }
  .main__collection .lorem__ipsum {
    font-size: 11px;
  }
  .main .arrivals .new__arrivals {
    padding-top: 50px;
    font-size: 30px;
  }
}
